<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <title>帮助文档</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}" />
    <style>
        body {
            margin:0 auto;
            padding:0;
            height: 100%;
        }
        table {
            height: 80%;
            width: 80%;         /*  必须设置一个宽度， margin: 0 auto才能使之居于父组件中央*/
            margin: 10px auto;  /*  通过设置外边距（margin）中的左右外边距属性为auto使之居于父组件（body）中间*/
        }
        table tr{
            height: 40px;
            width: 100%;
        }
        td{
            text-align: center;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column-header">
            <h3 class="text-info">
                光器件管理系统-帮助
            </h3>
        </div>
    </div><hr/>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3 id="section">1. 主界面</h3>
            <p>
                <br/><img th:src="@{/img/01_index.png}" alt="主界面" /><br/>
            </p>
            <h3 id="section-1">2. 添加新器件</h3>
            <ul>
                <li>
                    <p>点击<code>添加新器件</code>按钮，弹出表单
                        <br/><img th:src="@{/img/02_add.png}" alt="新建表单" /><br/>
                    </p>
                </li>
                <li>
                    <p>在表单中输入所有信息后，点击<code>提交</code>按钮即可提交</p>
                    <ul>
                        <li>所有项都必须填写，否则添加失败</li>
                        <li>价格比如填写正数</li>
                    </ul>
                </li>
            </ul>
            <h3 id="section-2">3. 批量导入</h3>
            <ul>
                <li>
                    <p>点击<code>批量导入</code>按钮，弹出对话框
                        <br/><img th:src="@{/img/03_batch.png}" alt="批量导入" /><br/>
                    </p>
                </li>
                <li>
                    <p>选择一个excel文件后，点击<code>导入</code>按钮即可</p>
                    <ul>
                        <li>必须选择一个excel文件，才能点击导入</li>
                        <li>文件以<code>.xls</code>或<code>.xlsx</code>结尾</li>
                        <li>文件内容：必须按照下图所示的列顺序填写</li>
                    </ul>
                    <p>
                        <br/><img th:src="@{/img/04_excel.png}" alt="文件内容" /><br/>
                    </p>
                </li>
            </ul>
            <h3 id="excel">4. 导出Excel文件</h3>
            <ul>
                <li>点击<code>导出Excel文件</code>按钮，即可下载一个包含当前查询结果的Excel文件</li>
            </ul>
            <h3 id="section-3">5. 编辑光器件信息</h3>
            <ul>
                <li>
                    <p>点击列表中的<code>编辑</code>按钮，弹出编辑信息表单
                        <br/><img th:src="@{/img/05_edit.png}" alt="编辑" /><br/>
                    </p>
                </li>
                <li>
                    <p>在编辑信息表单中修改信息后，点击提交按钮即可</p>
                    <ul>
                        <li>编辑信息表单同添加新器件的表单</li>
                        <li>编辑信息的验证要求同添加新器件</li>
                    </ul>
                </li>
            </ul>
            <h3 id="section-4">6. 删除光器件信息</h3>
            <ul>
                <li>点击列表中的<code>删除</code>按钮，确认后即可删除相应光器件信息</li>
            </ul>
            <h3 id="section-5">7. 查询功能</h3>
            <ul>
                <li>
                    <p>点击<code>查询</code>按钮，弹出查询对话框
                        <br/><img th:src="@{/img/06_query_init.png}" alt="查询" /><br/>
                    </p>
                </li>
                <li>
                    <p>点击相应的按钮，可以添加查询条件
                        <br/><img th:src="@{/img/07_query_condition.png}" alt="查询条件" /><br/>
                    </p>
                    <ul>
                        <li>
                            <p>
                                <code>文本</code>：用于查询一个文本类型的字段，如条件1</p>
                            <ul>
                                <li>第一个选择框用于选择需要查询的字段名，包括“名称”，“规格”，“一级类别”，“二级类别”，“代表厂商”；第二个</li>
                                <li>第二个选择框用于选择匹配规则，包括“包含”（模糊查询），“等于”（精确匹配）</li>
                                <li>第三个输入框用于输入一个文本字符串</li>
                            </ul>
                        </li>
                        <li>
                            <p>
                                <code>数值</code>：用于查询一个数值类型的字段，如条件2</p>
                            <ul>
                                <li>第一个选择框用于选择需要查询的字段名，包括“价格”</li>
                                <li>第二个选择框用于选择匹配规则，包括“=”（等于），“!=”（不等于），“&gt;”（大于），“&gt;=”（大于或等于），“&lt;”（小于），“&lt;=”（小于或等于）</li>
                                <li>第三个输入框用于输入一个数值</li>
                            </ul>
                        </li>
                        <li>
                            <p>
                                <code>“非”(NOT)</code>：用于将一个条件取反，如条件3</p>
                            <ul>
                                <li>选择框用于选择一个已有的条件（不能选择自身）</li>
                            </ul>
                        </li>
                        <li>
                            <p>
                                <code>复合</code>：用于取两个条件的“与”和“或”，如条件4</p>
                            <ul>
                                <li>第一个选择框和第三个选择框用于选择一个现有的条件，可以相同，但不能选择自身</li>
                                <li>第二个选择框用于选择复合规则，包括“and”（与），“or”（或）</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>查询规则：</p>
                    <ul>
                        <li>
                            <ol>
                                <li>默认的<code>主查询规则</code>为所有条件的“与”，即<code>主查询规则</code>为<code>条件1 and 条件2 and ... and 条件n</code></li>
                            </ol>
                        </li>
                        <li>
                            <ol start="2">
                                <li>若“条件X”在另一个“条件Y”中被引用，则“条件X”从<code>主查询规则</code>中去除</li>
                            </ol>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>注意事项：</p>
                    <ul>
                        <li>已有条件可以通过<code>X</code>按钮删除</li>
                        <li>若“条件X”在另一个“条件Y”中被引用，则“条件X”不能被删除</li>
                        <li>系统会缓存最后一次查询规则，在一次查询后，若进行<code>添加</code>、<code>删除</code>、<code>编辑</code>等操作后，系统会使用最后一次查询规则再次查询并显示到页面中</li>
                        <li>若需要再次显示全部信息，可点击<code>显示全部信息</code>按钮</li>
                    </ul>
                </li>
            </ul>
            <h3 id="section-6">8. 搜索</h3>
            <ul>
                <li>搜索功能不同于查询功能
                    <ul><li>查询功能用于从系统中查询数据并显示到页面</li><li>搜索功能用于在页面中搜索内容</li></ul></li>
                <li>搜索功能只需要在<code>搜索框</code>中输入内容，即可从结果列表中过滤出包含输入内容的条目</li>
            </ul>
            <h3 id="section-7">9. 人民币转换器</h3>
            <ul>
                <li>点击<code>人民币转换器</code>按钮，打开一个对话框
                    <br/><img th:src="@{/img/08_rmb.png}" alt="人民币转换器" /><br/>
                </li>
                <li>在对话框的<code>金额</code>中输入相应的数字，即可实时的看到转换后的大写表达式</li>
            </ul>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12" style="text-align: center">
            <hr/>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>

</body>
</html>