<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <title>光器件查询管理程序</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.min.css}" />
    <style>
        body {
            margin:0 auto;
            padding:0;
            height: 100%;
        }
        table {
            height: 80%;
            width: 80%;         /*  必须设置一个宽度， margin: 0 auto才能使之居于父组件中央*/
            margin: 10px auto;  /*  通过设置外边距（margin）中的左右外边距属性为auto使之居于父组件（body）中间*/
        }
        table tr{
            height: 40px;
            width: 100%;
        }
        td{
            text-align: center;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="modal fade" id="odModal" tabindex="-1" role="dialog" aria-labelledby="OdModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="OdModalLabel">光器件信息</h4>
            </div>
            <div class="modal-body">
                <form id="odForm" method="post" class="form-horizontal" role="form"
                      th:action="@{/save}" th:object="${od}">
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <div class="form-group">
                        <label class="col-md-2 control-label">名称</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" th:field="*{name}"
                                   name="name" placeholder="名称"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">型号</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" th:field="*{type}"
                                   name="type" placeholder="型号"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">一级类别</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" th:field="*{firstCategory}"
                                   name="firstCategory" placeholder="一级类别"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">二级类别</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" th:field="*{secondCategory}"
                                   name="secondCategory" placeholder="二级类别"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">价格</label>
                        <div class="col-md-10">
                            <input type="number" class="form-control" th:field="*{price}"
                                   name="price" placeholder="价格"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">代表厂家</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" th:field="*{factory}"
                                   name="factory" placeholder="代表厂家"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">性能特点</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" th:field="*{characteristics}"
                                   name="characteristics" placeholder="性能特点"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">产品描述</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" th:field="*{describe}"
                                   name="describe" placeholder="产品描述"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="submitInfoBtn" type="button" class="btn btn-primary">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="uploadModalLabel">批量导入</h4>
            </div>
            <form id="uploadForm" th:action="@{/uploadExcel}" enctype="multipart/form-data"
                  method="post" onsubmit="return checkData();">
                <div class="modal-body">
                    <input id="upfile" type="file" name="upfile">
                </div><!-- /.modal-content -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <input type="submit" class="btn btn-primary" value="导入" id="uploadOdExcel" name="btn">
                </div>
            </form>
        </div>
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="queryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="queryModalLabel">光器件信息查询</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-md-4" style="text-align: right">
                        <label class="control-label">添加查询条件：</label>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group">
                            <button id="singleStrQuery" class="btn btn-primary" type="button">文本</button>
                            <button id="singleNumQuery" class="btn btn-info" type="button">数值</button>
                            <button id="notQuery" class="btn btn-danger" type="button">"非"(NOT)</button>
                            <button id="complexQuery" class="btn btn-success" type="button">复合</button>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row cleaxfix">
                    <div class="col-md-12 column">
                        <form id="queryForm" method="post" class="form-horizontal" role="form" th:action="@{/query}">

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="submitQuery" type="button" class="btn btn-primary">查询</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="currencyModal" tabindex="-1" role="dialog" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="currencyModalLabel">人民币转换器</h4>
            </div>
            <div class="modal-body">
                <form id="currencyForm" method="post" class="form-horizontal" role="form" action="#">
                    <div class="form-group">
                        <label class="col-md-2 control-label">金额</label>
                        <div class="col-md-10">
                            <input id="currency" type="number" class="form-control" name="currency" placeholder="请输入数字金额"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">大写</label>
                        <div class="col-md-10">
                            <p class="form-control-static" id="chinese_currency"></p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column-header">
            <h3 class="text-info">
                光器件管理系统
            </h3>
        </div>
    </div><hr/>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-8 column">
                    <div class="btn-group">
                        <button id="createOdBtn" class="btn btn-success" type="button">添加新器件</button>
                        <button id="uploadBtn" class="btn btn-primary" type="button">批量导入</button>
                        <a class="btn btn-info" type="button" th:href="@{/downloadExcel}" target="_blank">导出Excel文件</a>
                        <button id="queryBtn" class="btn btn-warning" type="button">查询</button>
                        <a class="btn btn-danger" type="button" th:href="@{/all}" target="_self">显示全部信息</a>
                    </div>
                </div>
                <div class="col-md-4 column text-right">
                    <div class="btn-group">
                        <button id="currencyBtn" class="btn btn-warning" type="button">人民币转换器</button>
                        <a class="btn btn-default" type="button" th:href="@{/help}" target="_blank">帮助页面</a>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <table id="od_table" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>规格</th>
                            <th>一级类别</th>
                            <th>二级类别</th>
                            <th>价格</th>
                            <th>代表厂家</th>
                            <th>性能特点</th>
                            <th>产品描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="od, status : ${ods}">
                            <tr class="info">
                                <td class="od_id" th:text="${od.id}"></td>
                                <td class="od_name" th:text="${od.name}"></td>
                                <td class="od_type" th:text="${od.type}"></td>
                                <td class="od_firstCategory" th:text="${od.firstCategory}"></td>
                                <td class="od_secondCategory" th:text="${od.secondCategory}"></td>
                                <td class="od_price" th:text="${od.price}"></td>
                                <td class="od_factory" th:text="${od.factory}"></td>
                                <td class="od_characteristics" th:text="${od.characteristics}"></td>
                                <td class="od_describe" th:text="${od.describe}"></td>
                                <td>
                                    <button class="btn btn-info btn-xs" type="button" onclick="editModal(this);">编辑</button>
                                    <form class="deleteOd" th:action="@{/delete}" method="post" onsubmit="return confirm('确认删除?');">
                                        <input type="hidden" name="id" th:value="${od.id}"/>
                                        <button class="btn btn-danger btn-xs" type="submit">删除</button>
                                    </form>
                                </td>
                            </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12" style="text-align: center">
            <hr/>
        </div>
    </div>
</div>


<p style="display: none" id="message" th:text="${message}"></p>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>

<script type="text/javascript">
    function editModal(btn) {
        var $tr = $(btn).parent().parent();
        var id = $tr.find(".od_id").text();
        var name = $tr.find(".od_name").text();
        var type = $tr.find(".od_type").text();
        var firstCategory = $tr.find(".od_firstCategory").text();
        var secondCategory = $tr.find(".od_secondCategory").text();
        var price = $tr.find(".od_price").text();
        var factory = $tr.find(".od_factory").text();
        var characteristics = $tr.find(".od_characteristics").text();
        var describe = $tr.find(".od_describe").text();
        var $form = $("#odForm");
        $form.find("input[name='id']").val(id);
        $form.find("input[name='name']").val(name);
        $form.find("input[name='type']").val(type);
        $form.find("input[name='firstCategory']").val(firstCategory);
        $form.find("input[name='secondCategory']").val(secondCategory);
        $form.find("input[name='price']").val(price);
        $form.find("input[name='factory']").val(factory);
        $form.find("input[name='characteristics']").val(characteristics);
        $form.find("input[name='describe']").val(describe);
        $("#odModal").modal({
            backdrop: false,
            keyboard: false
        });
    }

    $(function () {
        $("#od_table").dataTable({
            //lengthMenu: [5, 10, 20, 30],//这里也可以设置分页，但是不能设置具体内容，只能是一维或二维数组的方式，所以推荐下面language里面的写法。
            paging: true,//分页
            ordering: true,//是否启用排序
            searching: true,//搜索
            language: {
                paginate: {//分页的样式内容。
                    previous: "上一页",
                    next: "下一页",
                    first: "第一页",
                    last: "最后"
                },
                search: '搜索',
                lengthMenu: "每页 _MENU_ 条记录",
                zeroRecords: "没有找到记录",
                info: "第 _PAGE_ 页 ( 总共 _PAGES_ 页 ) 共 _TOTAL_ 条记录",
                infoEmpty: "无记录",
                infoFiltered: "(从 _MAX_ 条记录过滤)"
            }
        });
        $("#od_table_filter input[type=search]").css({ width: "auto" });//右上角的默认搜索文本框，不写这个就超出去了。
    });

   $(function () {
       $("#createOdBtn").on("click", function () {
           $("#odForm")[0].reset();
           $("#odModal").modal({
               backdrop: false,
               keyboard: false
           });
       });

       $("#uploadBtn").on("click", function () {
           $("#uploadForm")[0].reset();
           $("#uploadModal").modal({
               backdrop: false,
               keyboard: false
           });
       });

       $("#submitInfoBtn").on("click", function () {
           $("#odModal").modal('toggle');
           $("#odForm").submit();
       });

       var message = $("#message").text();
       if (message != null && message.trim() != "") {
           alert("温馨提示： " + message.trim());
       }
   });

    function checkData(){
        var fileDir = $("#upfile").val();
        var suffix = fileDir.substr(fileDir.lastIndexOf("."));
        if("" == fileDir){
            alert("选择需要导入的Excel文件！");
            return false;
        }
        if(".xls" != suffix && ".xlsx" != suffix ){
            alert("选择Excel格式的文件导入！");
            return false;
        }
        return true;
    }
</script>

<script type="text/javascript">
    var query = {};
    var conditionId = 0;
    var $queryForm = $("#queryForm");
    var prefixLen = "condition_".length;

    function refreshQuery() {
        $queryForm.find(".single_str").each(function () {
            var id = $(this).attr("id");
            var key = $(this).find("select[name='key'] option:selected").val();
            var op = $(this).find("select[name='op'] option:selected").val();
            var value = $(this).find("input[name='value']").val();
            query[id].key = key;
            query[id].op = op;
            query[id].value = value;
        });

        $queryForm.find(".single_num").each(function () {
            var id = $(this).attr("id");
            var key = $(this).find("select[name='key'] option:selected").val();
            var op = $(this).find("select[name='op'] option:selected").val();
            var value = $(this).find("input[name='value']").val();
            query[id].key = key;
            query[id].op = op;
            query[id].value = value;
        });

        $queryForm.find(".not_query").each(function () {
            var id = $(this).attr("id");
            var key = $(this).find("select[name='key'] option:selected").val();
            var op = $(this).find("input[name='op']").val();
            query[id].key = key;
            query[id].op = op;
        });

        $queryForm.find(".complex_query").each(function () {
            var id = $(this).attr("id");
            var key = $(this).find("select[name='key'] option:selected").val();
            var op = $(this).find("select[name='op'] option:selected").val();
            var value = $(this).find("select[name='value'] option:selected").val();
            query[id].key = key;
            query[id].op = op;
            query[id].value = value;
        });
    }

    function hasRef(id) {
        refreshQuery();
        for (var k in query) {
            if (query[k].key == id || query[k].value == id) {
                return true;
            }
        }
        return false;
    }

    function deleteCondition(btn) {
        var $queryDiv = $(btn).parent().parent();
        var id = $queryDiv.attr("id");
        if (hasRef(id)) {
            console.log("cannot delete query item: " + id);
            alert("条件" + id.substr(prefixLen) + "当前被其他条件引用，无法删除");
        } else {
            console.log("delete query item: " + id);
            $queryDiv.remove();
            delete query[id];
            refresh();
        }
        console.log(query);
        return false;
    }

    function refreshNotQueryOption() {
        var $notQuerySelectKey = $queryForm.find(".not_query select[name='key']");
        var selectedOptionMap = {};
        $notQuerySelectKey.each(function () {
            selectedOptionMap[$(this).parent().parent().attr("id")] = $(this).find("option:selected").val();
        });
        // console.log(selectedOptionMap);
        $notQuerySelectKey.find("option").remove();
        var existList = [];
        $notQuerySelectKey.append(
            '<option value="">请选择条件</option>'
        );
        for (var k in query) {
            $notQuerySelectKey.each(function () {
                if ($(this).parent().parent().attr("id") != k) {
                    $(this).append(
                        '<option value="' + k + '">条件' + k.substr(prefixLen) + '</option>'
                    );
                }
            });
            existList.push(k);
        }
        $notQuerySelectKey.each(function () {
            var id = $(this).parent().parent().attr("id");
            var selected = selectedOptionMap[id];
            if ($.inArray(selected, existList) >= 0) {
                $(this).find("option[value='" + selected + "']").attr("selected", "selected");
            } else {
                $(this).find("option:eq(0)").attr("selected", "selected");
            }
        })
    }

    function refreshComplexQueryOption(sname) {
        var $notQuerySelectKey = $queryForm.find(".complex_query select[name='" + sname + "']");
        var selectedOptionMap = {};
        $notQuerySelectKey.each(function () {
            selectedOptionMap[$(this).parent().parent().attr("id")] = $(this).find("option:selected").val();
        });
        // console.log(selectedOptionMap);
        $notQuerySelectKey.find("option").remove();
        var existList = [];
        $notQuerySelectKey.append(
            '<option value="">请选择条件</option>'
        );
        for (var k in query) {
            $notQuerySelectKey.each(function () {
                if ($(this).parent().parent().attr("id") != k) {
                    $(this).append(
                        '<option value="' + k + '">条件' + k.substr(prefixLen) + '</option>'
                    );
                }
            });
            existList.push(k);
        }
        $notQuerySelectKey.each(function () {
            var id = $(this).parent().parent().attr("id");
            var selected = selectedOptionMap[id];
            if ($.inArray(selected, existList) >= 0) {
                $(this).find("option[value='" + selected + "']").attr("selected", "selected");
            } else {
                $(this).find("option:eq(0)").attr("selected", "selected");
            }
        })
    }
    
    function appendSingleStrQuery() {
        conditionId += 1;
        $queryForm.append(
            '<div id="condition_' + conditionId + '" class="form-group single_str query_div">' +
            '    <label class="col-md-2 control-label">条件' + conditionId + '</label>' +
            '    <div class="col-md-3">' +
            '        <select name="key" title="字段" class="form-control">' +
            '            <option value="name" selected="selected">名称</option>' +
            '            <option value="type">规格</option>' +
            '            <option value="firstCategory">一级类别</option>' +
            '            <option value="secondCategory">二级类别</option>' +
            '            <option value="factory">厂家</option>' +
            '        </select>' +
            '    </div>' +
            '    <div class="col-md-3">' +
            '        <select name="op" title="操作" class="form-control">' +
            '            <option value="like" selected="selected">包含</option>' +
            '            <option value="=">等于</option>' +
            '        </select>' +
            '    </div>' +
            '    <div class="col-md-3">' +
            '        <input type="text" class="form-control" name="value" placeholder="请输入字符串"/>' +
            '    </div>' +
            '    <div class="col-md-1" style="text-align: left">' +
            '        <button class="close delete_query_item" onclick="return deleteCondition(this);">&times;</button>' +
            '    </div>' +
            '</div>'
        );
        var k = 'condition_' + conditionId;
        query[k] = {
            'key': $queryForm.find("div[id='" + k + "'] select[name='key'] option:selected").val(),
            'op': $queryForm.find("div[id='" + k + "'] select[name='op'] option:selected").val(),
            'value': $queryForm.find("div[id='" + k + "'] input[name='value']").val(),
            'type': 1
        };
        console.log(query);
    }

    function appendSingleNumQuery() {
        conditionId += 1;
        $queryForm.append(
            '<div id="condition_' + conditionId + '" class="form-group single_num query_div">' +
            '    <label class="col-md-2 control-label">条件' + conditionId + '</label>' +
            '        <div class="col-md-3">' +
            '            <select name="key" title="字段" class="form-control">' +
            '                <option value="price" selected="selected">价格</option>' +
            '            </select>' +
            '        </div>' +
            '        <div class="col-md-3">' +
            '            <select name="op" title="操作" class="form-control">' +
            '                <option value="=">=</option>' +
            '                <option value="<>">!=</option>' +
            '                <option value=">">&gt;</option>' +
            '                <option value=">=">&gt;=</option>' +
            '                <option value="<">&lt;</option>' +
            '                <option value="<=">&lt;=</option>' +
            '            </select>' +
            '        </div>' +
            '        <div class="col-md-3">' +
            '            <input type="number" class="form-control" name="value" placeholder="请输入数值"/>' +
            '        </div>' +
            '        <div class="col-md-1" style="text-align: left">' +
            '            <button class="close delete_query_item" onclick="return deleteCondition(this);">&times;</button>' +
            '        </div>' +
            '</div>'
        );
        var k = 'condition_' + conditionId;
        query[k] = {
            'key': $queryForm.find("div[id='" + k + "'] select[name='key'] option:selected").val(),
            'op': $queryForm.find("div[id='" + k + "'] select[name='op'] option:selected").val(),
            'value': $queryForm.find("div[id='" + k + "'] input[name='value']").val(),
            'type': 2
        };
        console.log(query);
    }

    function appendNotQuery() {
        conditionId += 1;
        $queryForm.append(
            '<div id="condition_' + conditionId + '" class="form-group not_query query_div">' +
            '    <label class="col-md-2 control-label">条件' + conditionId + '</label>' +
            '    <div class="col-md-3" style="text-align: right">' +
            '        <button class="btn btn-warning" disabled="disabled" style="color: #000000;"><b>NOT</b></button>' +
            '    </div>' +
            '    <input type="hidden" name="op" value="not"/>' +
            '    <div class="col-md-6">' +
            '        <select name="key" title="条件" class="form-control">' +
            '            <option value="">请选择条件</option>' +
            '        </select>' +
            '    </div>' +
            '    <div class="col-md-1" style="text-align: left">' +
            '        <button class="close delete_query_item" onclick="return deleteCondition(this);">&times;</button>' +
            '    </div>' +
            '</div>'
        );
        var k = 'condition_' + conditionId;
        query[k] = {
            'key': $queryForm.find("div[id='" + k + "'] select[name='key'] option:selected").val(),
            'op': $queryForm.find("div[id='" + k + "'] input[name='op']").val(),
            'type': 3
        };
        console.log(query);
    }

    function appendComplexQuery() {
        conditionId += 1;
        $queryForm.append(
            '<div id="condition_' + conditionId + '" class="form-group complex_query query_div">' +
            '    <label class="col-md-2 control-label">条件' + conditionId + '</label>' +
            '    <div class="col-md-3">' +
            '        <select name="key" title="条件" class="form-control">' +
            '            <option value="">请选择条件</option>' +
            '        </select>' +
            '    </div>' +
            '    <div class="col-md-3">' +
            '        <select name="op" title="操作" class="form-control">' +
            '            <option value="and">and</option>' +
            '            <option value="or">or</option>' +
            '        </select>' +
            '    </div>' +
            '    <div class="col-md-3">' +
            '        <select name="value" title="条件" class="form-control">' +
            '            <option value="">请选择条件</option>' +
            '            </select>' +
            '    </div>' +
            '    <div class="col-md-1" style="text-align: left">' +
            '        <button class="close delete_query_item" onclick="return deleteCondition(this);">&times;</button>' +
            '    </div>' +
            '</div>'
        );
        var k = 'condition_' + conditionId;
        query[k] = {
            'key': $queryForm.find("div[id='" + k + "'] select[name='key'] option:selected").val(),
            'op': $queryForm.find("div[id='" + k + "'] select[name='op'] option:selected").val(),
            'value': $queryForm.find("div[id='" + k + "'] select[name='value'] option:selected").val(),
            'type': 4
        };
        console.log(query);
    }

    function refresh() {
        refreshQuery();
        refreshNotQueryOption();
        refreshComplexQueryOption('key');
        refreshComplexQueryOption('value');
    }

    $(function () {
        $("#queryBtn").on("click", function () {
            query = {};
            conditionId = 0;
            $("#queryForm div").remove();
            $("#queryModal").modal({
                backdrop: false,
                keyboard: false
            });
        });

        $("#singleStrQuery").on("click", function () {
            appendSingleStrQuery();
            refresh();
        });

        $("#singleNumQuery").on("click", function () {
            appendSingleNumQuery();
            refresh();
        });

        $("#notQuery").on("click", function () {
            appendNotQuery();
            refresh();
        });

        $("#complexQuery").on("click", function () {
            appendComplexQuery();
            refresh();
        });

        $("#submitQuery").on("click", function () {
            refresh();
            console.log("submit: ");
            console.log(query);
            if (!checkQuery()) {
                alert("条件的值不能为空，请检查后重新提交");
                return false;
            }
            var action = $queryForm.attr("action");
            // 创建一个 form
            var form = document.createElement("form");
            // 添加到 body 中
            document.body.appendChild(form);
            // 创建一个输入
            var input = document.createElement("input");
            // 设置相应参数
            input.type = "text";
            input.name = "query";
            input.value = JSON.stringify(query);
            console.log(input.value);
            // 将该输入框插入到 form 中
            form.appendChild(input);

            // form 的提交方式
            form.method = "POST";
            // form 提交路径
            form.action = action;

            // 对该 form 执行提交
            form.submit();
            // 删除该 form
            document.body.removeChild(form);
        })
    });

    function checkQuery() {
        for (var k in query) {
            if (query[k].type == 3) {
                if (query[k].key == null || query[k].key == ""
                    || query[k].op == null || query[k].op == "") {
                    return false;
                }
            } else {
                if (query[k].key == null || query[k].key == ""
                    || query[k].value == null || query[k].value == ""
                    || query[k].op == null || query[k].op == "") {
                    return false;
                }
            }
        }
        return true;
    }

</script>

<script>
    /** 数字金额大写转换(可以处理整数,小数,负数) */
    function toChineseCurrency(n) {
        var fraction = ['角', '分'];
        var digit = ['零', '壹', '贰', '叁', '肆', '伍', '陆', '柒', '捌', '玖'];
        var unit = [ ['元', '万', '亿'], ['', '拾', '佰', '仟']  ];
        var head = n < 0? '欠': '';
        n = Math.abs(n);

        var s = '';

        for (var i = 0; i < fraction.length; i++)
        {
            s += (digit[Math.floor(n * 10 * Math.pow(10, i)) % 10] + fraction[i]).replace(/零./, '');
        }
        s = s || '整';
        n = Math.floor(n);

        for (var i = 0; i < unit[0].length && n > 0; i++)
        {
            var p = '';
            for (var j = 0; j < unit[1].length && n > 0; j++)
            {
                p = digit[n % 10] + unit[1][j] + p;
                n = Math.floor(n / 10);
            }
            s = p.replace(/(零.)*零$/, '').replace(/^$/, '零')  + unit[0][i] + s;
        }
        return head + s.replace(/(零.)*零元/, '元').replace(/(零.)+/g, '零').replace(/^整$/, '零元整');
    }

    $(function () {
        $("#currencyBtn").on("click", function () {
            $("#currencyForm")[0].reset();
            $("#currencyModal").modal({
                backdrop: true,
                keyboard: true
            });
            $("#chinese_currency").text(toChineseCurrency($(this).val()));
        });

        $("#currency").bind("input propertychange", function () {
            $("#chinese_currency").text(toChineseCurrency($(this).val()));
        })
    })
</script>
</body>
</html>